  
 
 

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-md-8">
                <h1 class="page-header">
                    Welcome: {{ username }}
                    <small>{{ user_data.0.username }}</small>
                </h1>

              
            </div> 
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <h3>Name: {{ user_data.0.name }} </h3>
                <h3>Email: {{ user_data.0.email }} </h3>
                <h3>Username: {{ user_data.0.username }} </h3>
                <h3>Last won debate: {{ user_data.0.last_win }}</h3>
                <h3>Number of debates won: {{ user_data.0.win_count }}</h3>
            </div>
        </div> 
 

        <hr>

         
 

    </div> 


 